
body {background-color: #313131; font-size: 14px; color: #ffffff;}
body,td,th {color: #dddddd; font-size: 14px;}

table, th, td {border: 1px solid #313131;}	
tr{background-color:#313131;}

.style1 {color: #3498db; font-size: 18px; font-weight: bold;}
.style1a {color: #3498db; font-size: 36px; font-weight: bold;}
.style1b {color: #dddddd; font-size: 36px; font-weight: bold;}
.style2 {color: #dddddd; font-size: 14px;}
.style2a {color: #dddddd; font-size: 18px;}
.style2b {color: #dddddd; font-size: 20px;}
.style3 {color: #3498db; font-size: 14px;}
.style3a {color: #3498db; font-size: 18px;}
.style3b {color: #3498db; font-size: 20px;}
.style4 {color: #999999; font-size: 14px;}
.style4a {color: #999999; font-size: 18px;}
.style4b {color: #999999; font-size: 20px;}
.style5 {color: #999999; font-size: 12px; font-weight: bold;}

 a:link {color: #999999; text-decoration: none;}
 a:visited {color: #999999; text-decoration: none;}
 a:hover {padding-top: 10px; border-bottom: 1px solid #dddddd; color: #dddddd; text-decoration: none; }
 a:active {color: #999999; text-decoration: none; }
