<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>{{title0}} {{title3}}</title>
     <meta name="description" content="^H> HucDuino : Raspberry Pi Python Flask Project">
     <meta name="author" content="^H> HucHuino">      
     <link rel="icon" type="image/png" href="static/images/favicon.png">
     <style type="text/css">

     </style>
  </head>
    <body>
      <div align="center">
	     <img src="static/images/404.png" style="width:200px"/>
         <h2>Page Not Found</h2>
         <br><br><br><br>
         <img src="static/images/flask-01.png" style="width:300px" />
	   <div align="center"><font color="#cccccc">
		  <tt><strong><em>
	      {{title0}} {{title1}} : Raspberry Pi Python Flask Project {{sys_year}}
	      </em></strong></tt></font>
	    </div>	
      </div>
    </body>
</html>
